* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-bianco {
  background-color: rgb(243, 244, 244);
}

#button-blu {
  background-color: rgb(120, 120, 240);
}
.rettangolo {
  display: inline-block;
  width: 55px;
  height: 25px; /*deve essere uguale a line-height*/
  border-radius: 20%;
  background-color: rgb(13, 92, 156);
  font-size: smaller;
  color: aliceblue;
  margin-left: 0.2%;
}

.text-center {
  text-align: center;
}
.line-height-25 {
  line-height: 25px;
}

.bg-color-azzuro {
  background-color: aqua;
}
.bg-color-violo {
  background-color: blueviolet;
}
.bg-color-verde-sc {
  background-color: green;
}
.bg-color-arancione {
  background-color: orange;
}
.bg-color-verde {
  background-color: chartreuse;
}
.bg-color-rosa {
  background-color: plum;
}
.spunta-verde {
  color: green;
}
.crocia-rossa {
  color: red;
}
.p10 {
  padding: 10px;
}
body {
  margin-left: 5px;
  margin: 5px;
}